<template>
  <NavButton :class="{ active: isActive }" @click="click">
    <span><i class="fa fa-lg fa-globe"></i> Example</span>
  </NavButton>
</template>
<style>

</style>
<script type="text/babel">

  export default {
    created() {
    },
    data() {
      return {};
    },
    computed: {
      isActive() {
        return this.$store.state.search.activeAdvancedSearch === 'searchPlugin-example';
      },
    },
    methods: {
      click() {
        if (this.isActive) {
          this.$store.commit('search/setActiveAdvancedSearch', null);
        } else {
          this.$store.commit('search/setActiveAdvancedSearch', 'searchPlugin-example');
        }
      },
    },
  };

</script>
