<template>
  <div>
    <MapContextButton></MapContextButton>
    <span>Searched {{searched}} times</span>
    <template v-if="location">
      <table>
        <tr>
          <th>Coordinate</th>
          <th>Value</th>
        </tr>
        <tr v-for="(value, key) in location">
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
      </table>
    </template>
  </div>
</template>
<style>

</style>
<script type="text/babel">
  import SearchImpl from './searchImpl';

  export default {
    created() {
    },
    data() {
      return {
        searched: 0,
      };
    },
    computed: {
      location() {
        return this.$store.state.contextLocation;
      },
    },
    watch: {
      location() {
        this.searched += 1;
        SearchImpl.contextLocation(this.location);
      },
    },
  };

</script>
