<template>
  <NavButton @click="click">
    <span><b>SEARCH:</b> {{item.name}}</span>
  </NavButton>
</template>
<style>

</style>
<script type="text/babel">

  export default {
    props: ['item'],
    methods: {
      click() {
        this.item.click();
      },
    },
  };

</script>
