.buttonModern {
	color: rgb(2, 2, 2);
	font-weight: bold;
	border-radius: 7px;
	font-family: 'Noto Sans', sans-serif;
	/* background: linear-gradient(to right, rgb(20, 154, 43), rgb(185, 195, 153), rgb(28, 136, 183)); */
	background: #fce9e9;
	background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
	padding: 2px 25px 2px 25px!important;
	width: 98%;
	cursor: pointer;
	margin: 2px;
	border-width: 0px;
	box-shadow: none;
}

.buttonModern:hover {
	opacity: 0.65;
	border-style: solid;
	border-width:2px;
	border-color:#5c84ea;
}

.buttonModern:focus {
	color: red;
	opacity: 0.6;
}

.midTitle {
	font-family: 'Righteous', cursive;
}

/* Hide Scroll bar x and pretty right */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: rgba(42, 42, 42, 0);
}

/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
	background-color: rgba(65, 57, 57, 0.5);
	border-radius: 20px
}

/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
	background-color: rgba(42, 42, 42, 0);
}

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
	background-color: rgba(42, 42, 42, 0);
}

.vcm_copyright_headerTitle {
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.balloon-title {
	font-family: 'Righteous', cursive!important;
}

.balloon-Inside-border {
	border-width:2px;
	border-style:solid;
	border-color: white;
	border-radius: 10px;
	text-align: center;
}

#balloon_table {
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	font-family: 'Noto Sans', sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  #balloon_table th {
	/* padding-top: 12px; */
	/* padding-bottom: 12px; */
	text-align: left;
	background-color: transparent;
	color: #4272d7;
	border-bottom: 2px solid #f2f2f2;
  }
  #balloon_table td {
	text-align: left;
	border: 1px solid #ddd;
	font-size: 15px;
	line-height: 1.2;
	border-bottom: 1px solid #f2f2f2;
	/* padding: 8px; */
	}
  
  #balloon_table tr:nth-child(even){background-color: #f2f2f2;}
  
  #balloon_table tr:hover {background-color: #ddd;}

  i.fasRound {
	display: inline-block;
	border-radius: 30px;
	box-shadow: 0px 0px 2px #b43535;
	padding: 0.2em 0.2em;
}

#loadingTitle {
	font-family: 'Righteous', cursive;
}