/* Border Colors of the header */
.vcm-border-splash{
  /* border-color: #a8c02b; */
}


/* Change these two color values to change the button Color */
.vcm-base-splash,
.vcm-btn-base-splash,
.vcm-btn-base-splash-hover:hover,
.vcm-btn-base-splash-hover.active,
.vcm-btn-base-splash-hover.selected{
  background-color: #a8c02b;
}
.vcm-font-splash,
.vcm-btn-font-splash,
.vcm-btn-font-splash-hover:hover,
.vcm-btn-font-splash-hover.active,
.vcm-btn-icon-font-splash-hover:hover,
.vcm-btn-icon-font-splash-hover.active{
  color: #a8c02b;
}


/* Header Background Color */
.vcm-header-base {
  background-color: #ffffff;
}

/* Ballooon Color */
.balloon{
  /* border: 5px solid #a8c02b; */
}
.balloon:before {
  /* border-color: #a8c02b transparent; */
}

/** Show empty box for inactive layers in legend */
.setting-checker.inactive {
  /*display: block !important;*/
}

/* Change Company logo in the upper left corner */
.company-logo {
 /* background-image: url(../images/logo.jpg);
  width: 140px;
  height: 70px; */
}

/* Change these values to change the height of the header (they should all have the same value) */
.vcm-header-height {
  /* height: 5.5rem;
  line-height: 5.5rem; */
}
.vcm-map-top {
  /* top: 5.5rem; */
}

/* Change these values to change the height of the logobox in the lower left Company-box height should be 1rem less */
.vcm-map-bottom {
  /* bottom: 4rem; */
}

.company-box {
   /* height: 3.0rem; */
}

/* use this for map below header */
.mapElement {
  /* top : 0px; */
}


