<template>
  <a href="#/iframe?iframe=http://www.virtualcitysystems.de">
    <NavButton @click="toggle" :class="{ off: !on }">
      <span class="vcm-btn-icon help-icon"></span>
      ProjectInformation
    </NavButton>
  </a>
</template>
<style scoped="">
   a {
     text-decoration: inherit;
   }
</style>
<script type="text/babel">
  export default {
  };

</script>
