<template>
  <button @click="toggle" :class="{ off: !on }">
    <template v-if="on">
      <span>ON!</span>
    </template>
    <template v-else>
      <span>OFF</span>
    </template>
  </button>
</template>
<style scoped="">
  button:hover{
    background: #0d47a1;
  }
  button.off {
    background: #7b1fa2;
  }
</style>
<script type="text/babel">

  export default {
    created() {
    },
    data() {
      return {
        on: false,
      };
    },
    computed: {},
    methods: {
      toggle() {
        this.on = !this.on;
      },
    },
  };

</script>
