<template>
  <div :class="timeclass">
    <span @click="toggle"><i class="fa fa-lg fa-camera-retro"></i></span>
  </div>
</template>
<style scoped>
.time1{
  background: #B2FF1B;
}
.time2{
  background: #E8980C;
}
.time3{
  background: #FF0000;
}
.time4{
  background: #4F0CE8;
}
.time5{
  background: #0DE8FF;
}
</style>
<script type="text/babel">

  export default {
    created() {
      this.spin();
    },
    data() {
      return {
        time: 1,
        stop: false,
      };
    },
    computed: {
      timeclass() {
        return `time${this.time}`;
      },
    },
    methods: {
      spin() {
        setTimeout(() => {
          this.time += 1;
          if (this.time > 5) {
            this.time = 1;
          }
          if (!this.stop) {
            this.spin();
          }
        }, 100);
      },
      toggle() {
        this.stop = !this.stop;
        if (!this.stop) {
          this.spin();
        }
      }
    },
  };

</script>
