<template>
  <div @click="click">
    Click Me
  </div>
</template>
<style scoped>
  div {
    padding: .5rem;
  }
</style>
<script type="text/babel">

  export default {
    props: ['item'],
    created() {
    },
    data() {
      return {};
    },
    computed: {},
    methods: {
      click() {
        this.$store.commit('legendItem/toggle');
      },
    },
  };

</script>
