<template>
  <div v-if="on" class="vcm-base-dye01 vcm-border-default">
    <SubButton @click="off" class="off">X</SubButton>
    <h2>You clicked the legend item</h2>
  </div>
</template>
<style scoped="">
  div {
    position: fixed;;
    z-index: 200;
    left: 42.5%;
    top: 42.5%;
    width: 15%;
    height: 15%;
    text-align: center;
  }

  .off {
    float: right;
    margin: 5px;
  }
</style>
<script type="text/babel">

  export default {
    created() {
    },
    data() {
      return {};
    },
    computed: {
      on() {
        return this.$store.state.legendItem.on;
      },
    },
    methods: {
      off() {
        this.$store.commit('legendItem/toggle');
      },
    },
  };

</script>
