<template>
  <div>
    <ContentTitle>Some Custom Content</ContentTitle>
    <h2>{{$t('translated')}}</h2>
    <LeadButton @click="count">
      <template v-if="ticker">
        You have Clicked {{ticker}} times
      </template>
      <template v-else>
        Click Me!
      </template>
    </LeadButton>
  </div>
</template>
<style>

</style>
<script type="text/babel">

  export default {
    i18n: {
      messages: {
        en: {
          translated: 'Translated',
        },
        de: {
          translated: 'Übersetzt',
        },
      },
    },
    created() {
      this.ticker = this.$store.state.content.ticker;
    },
    data() {
      return {
        ticker: 0,
      };
    },
    computed: {},
    methods: {
      count() {
        this.ticker += 1;
      },
    },
    destroyed() {
      this.$store.commit('content/setTicker', this.ticker); // the store will get the namespace of the plugin
    },
  };

</script>
